services:
  frontend:
    container_name: aumivet-frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile
    restart: unless-stopped
    environment:
      NEXT_PUBLIC_STRAPI_URL: 'https://strapi.digitaldog.pet'
      NEXT_PUBLIC_SITE_URL: 'https://aumivet.com.br'
      NODE_ENV: production
      PORT: 3000
      HOSTNAME: "0.0.0.0"
    ports:
      - "3000:3000"
    networks:
      - coolify

networks:
  coolify:
    external: true
