services:
  frontend:
    container_name: aumivet-frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile
    restart: unless-stopped
    environment:
      NEXT_PUBLIC_STRAPI_URL: 'https://strapi.digitaldog.pet'
      NEXT_PUBLIC_SITE_URL: 'https://aumivet.com.br'
      NODE_ENV: production
      PORT: 3000
      HOSTNAME: "0.0.0.0"
    networks:
      - coolify
    labels:
      - traefik.enable=true
      - traefik.http.routers.aumivet-frontend.rule=Host(`aumivet.com.br`)
      - traefik.http.routers.aumivet-frontend.entrypoints=websecure
      - traefik.http.routers.aumivet-frontend.tls=true
      - traefik.http.routers.aumivet-frontend.tls.certresolver=letsencrypt
      - traefik.http.services.aumivet-frontend.loadbalancer.server.port=3000
      - traefik.docker.network=coolify

networks:
  coolify:
    external: true
